{% extends 'RITCSE_codeWars/base.html' %}
{% block title %}Acive Contests{% endblock %}


{% block code %}
    <br><br><br>
    <div class="panel panel-info col-sm-offset-1 col-sm-6 ">
      <div class="panel-heading ">
        <h3 class="panel-title">All Competitions available</h3>
      </div>
      <div class="panel-body">
        <div class="row">
            {% for contestitems in contest_list %}

            <a  href="{% url 'Questions' contestitems.id  %}">
              <h4>{{ contestitems.name }} </h4>
            </a>

            {% endfor %}

           </div>
      </div>
    </div>

{% endblock %}



