
{% extends 'RITCSE_codeWars/base.html' %}
{% block title %}Welcome {{ username }}{% endblock %}
{% block Home %}active{% endblock %}
{% load staticfiles %}
 <link rel="stylesheet" type="text/css" href="{% static 'RITCSE_codeWars/table_styling.css' %}"/>
<body>
{% block code %}
    <div>
    <div class="col-sm-6">

       <div class="container-fluid">

                <div>
                    <div class="panel panel-primary">
                        <div class="panel-heading ">
                                <h3 class="panel-title" style="font-family: cursive">
                                    {{ question.question_name }}</h3>
                        </div>
                        <div class="panel body col-sm-12 " style="min-height: 100px; min-width: 500px">
                                {{ question.question_text|linebreaks }}

                        </div>
                        <form action="{% url 'VerifyResult' question_code=question.question_code %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                        <div >
                            <div >
                                <i >Submit your answer</i>
                                 <input type="file" name="source">
                            </div>
                        </div>
                            <div>
                                 <div class="col-sm-3">
                                     <br>

                                    <select name="Language" value="Language">
                                      <option value="none" selected = "selected">Select language</option>
                                      <option value="cpp">C++</option>
                                      <option value="c">C</option>
                                      <option value="java">Java</option>
                                      <option value="python2">Python 2.7</option>
                                      <option value="python3">Python 3</option>

                                    </select>
                                     </div>


                                <div class="col-sm-2 ">
                                    <br>
                                    <button type="submit" name="submit" class="btn btn-success">Submit</button>
                                 </div>
                            </div>

                        </form>
                    </div>
                </div>

      </div>
    </div>



    <div class="col-sm-6">
            <div class="panel panel-sucess">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="container col-sm-12">
                      <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#AllSubmission">All Submissions</a></li>
                        <li><a data-toggle="tab" href="#Sucessful">Sucessful Submissions</a></li>
                      </ul>
                    <div class="tab-content col-sm-12">
                        <div id="AllSubmission" class="tab-pane fade in active ">
                            <table  class="table table-hover " >
                                <tr>
                                    <th width="150">User</th>
                                    <th width="150" >Language</th>
                                    <th>Status</th>
                                </tr>
                                {% for data in submission_list %}
                                    <tr>
                                        <td>{{ data.user.username }}</td>
                                        <td>{{ data.language }}</td>
                                        <td>{{ data.result }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div id="Sucessful" class="tab-pane fade ">
                            <table  class="table table-hover">
                                <tr>
                                    <th width="150">User</th>
                                    <th width="150">Language</th>
                                    <th>Time</th>
                                </tr>
                                {% for data in submission_accepted %}
                                    <tr>
                                        <td>{{ data.user.username }}</td>
                                        <td>{{ data.language }}</td>
                                        <td>{{ data.submission_time }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>


                </div>
            </div>

    </div>
    </div>
    </div>
    </div>

{% endblock %}

<footer>
    <div align="center" style="position:fixed;   bottom:0px;   height:30px;   ">
  <i >Created by Bineeth and Sidhin.S.Thomas</i>
        </div>
</footer>

{% block logout %}
    <li class="{% block Logout %}{% endblock %}">
                    <a href={% url "Logout" %}>
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
    </li>
{% endblock %}
</body>



