{% extends 'RITCSE_codeWars/base.html' %}
{% block Login %}Hidden{% endblock %}
{% block title %}Login{% endblock %}
{% block code %}
    {% if errormessage %}
        <div class="alert alert-danger">
          <strong>Login Failed</strong> You have probably messed up your password!!
        </div>
    {% endif %}
<div class="container-fluid">
            <div class="col-md-4"></div>
            <div class="col-md-4 ">
                <div class="panel panel-info">
                    <div class="panel-heading ">
                            <label class="panel-title " style="font-family: cursive; text-align:center ">
                                Login</label>
                    </div>
                    <div class="panel body col-sm-12  ">
                            <form  action="{% url 'AuthenticateUser' %}" method="post" name = "userform">
                                {% csrf_token %}
                                     <label class="input-group">
                                        <span class="input-group-addons">Username</span>
                                         <input type="text" class="from-control"  id="username" name="username" aria-label="Enter your username">
                                     </label>
                                        <label class="input-group">
                                        <span class="input-group-addons">Password</span>
                                         <input type="password" class="from-control" id="password" name="password" aria-label="Enter your password">
                                     </label>
                                    <div class="form-group">
                                        <div class="col-lg-offset-1  col-lg-10  ">
                                            <br>
                                            <button type="submit" name="submit" class="btn btn-success">Submit</button>
                                        </div>
                                </div>
                            </form>

                    </div>
                </div>
            </div>
             <div class="col-md-4"></div>

  </div>
{% endblock %}