{% extends 'RITCSE_codeWars/base.html' %}
{% block title %}Codewars{% endblock %}
{% block logout %}
    <li class="{% block Logout %}{% endblock %}">
                    <a href={% url "Logout" %}>
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
    </li>
{% endblock %}


{% block code %}
    <br><br><br>
    <div class="container-fluid">
         <div class="list-group">
             {% for question in question_list %}
              <a href="{% url 'Problem' question.question_code %}" class="list-group-item">{{ question.question_name }}</a>
             {% endfor %}
         </div>
    </div>
{% endblock %}