{% extends 'RITCSE_codeWars/base.html' %}
{% block title %}Codewars{% endblock %}
{% block logout %}
    <li class="{% block Logout %}{% endblock %}">
                    <a href={% url "Logout" %}>
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
    </li>
{% endblock %}


{% block code %}

    <div class="panel panel-info">
        <div class="panel-heading">Question List</div>
        <div class="panel-body">
            <ol>
                {% for question in question_list %}
                    <li> <a href="{% url 'Problem' question.question_code %}" class="list-group-item">
                        {{ question.question_name }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}


