{% extends 'RITCSE_codeWars/ContestList_not_auth.html' %}
{% block title %}Register{% endblock %}
{% block Registration %}active{% endblock %}


{% block code %}
 <div class="container-fluid">
            <div class="col-md-4"></div>


            <div class="col-md-4 ">
                <div class="panel panel-info">
                    <div class="panel-heading ">
                        <div align="center">
                            <label class="panel-title " style="font-family: cursive; text-align:center ">
                                Registration</label>
                            </div>
                    </div>
                    <div class="panel body col-sm-12  "><br><br>
                        {% if error_message %}{{ error_message }} {% endif %}
                            <form  action="{% url 'CreateUser' %}" method="post" name = "userform">
                                {% csrf_token %}
                                    <div align="center">
                                     <label class="input-group">
                                         <input type="text" class="from-control"  id="firstname" name="firstname"
                                                aria-label="Enter your Firstname" placeholder="First Name">
                                     </label>
                                        </div>
                                    <div align="center">
                                     <label class="input-group">
                                         <input type="text" class="from-control"  id="lastname" name="lastname"
                                                aria-label="Enter your Lastname" placeholder="Last Name">
                                     </label>
                                        </div>

                                    <div align="center">
                                     <label class="input-group">
                                         <input type="text" class="from-control"  id="username" name="username"
                                                aria-label="Enter your username" placeholder="Username">
                                     </label>
                                        </div>

                                <div align="center">
                                     <label class="input-group">
                                         <input type="password" class="from-control"  id="password" name="password"
                                                aria-label="Enter your password" placeholder="Password">
                                     </label>
                                        </div>

                                <div align="center">
                                     <label class="input-group">
                                         <input type="password" class="from-control"  id="conformpassword" name="conformpassword"
                                                aria-label="Conform password" placeholder="Conform Password">
                                     </label>
                                        </div>

                                <div align="center">
                                     <label class="input-group">
                                         <input type="email" class="from-control"  id="email" name="email"
                                                aria-label="Enter your email" placeholder="Email">
                                     </label>
                                        </div>
                                    <div class="form-group">
                                        <div align="center" >
                                            <br>
                                            <button type="submit" name="submit" class="btn btn-success">Submit</button>
                                        </div>
                                </div>
                            </form>

                    </div>
                </div>
            </div>
             <div class="col-md-4"></div>

  </div>


{% endblock %}






