{% extends 'RITCSE_codeWars/base.html' %}
{% block title %}Register{% endblock %}
{% block Registration %}active{% endblock %}


{% block code %}
 <div class="container-fluid">
            <div class="col-md-4"></div>


            <div class="col-md-4 ">
                <div class="panel panel-info">
                    <div class="panel-heading ">
                           <div align="center"
                            <label class="panel-title " style="font-family: cursive; text-align:center ">
                                Register</label>
                        </div>
                    </div>
                    <div class="panel body col-sm-12  "><br><br>
                            <form  action="{% url 'Index' %}" method="post" name = "userform">
                                {% csrf_token %}
                                <div align="center">
                                     <label class="input-group">
                                         <input type="text" class="from-control" id="firstname" required="required" placeholder="First Name"
                                                aria-label="Enter your Firstname">
                                     </label>
                                    </div>
                                <div align="center">
                                        <label class="input-group">
                                         <input type="password" class="from-control" id="lastname"  required="required" placeholder="Last Name"
                                                aria-label="Enter your Lastname">
                                     </label>
                                    </div>
                                <div align="center">
                                     <label class="input-group">
                                         <input type="text" class="from-control" id="username" required="required" placeholder="Username"
                                                 aria-label="Enter your username">
                                     </label>
                                    </div>
                                <div align="center">
                                    <label class="input-group">

                                         <input type="password" class="from-control" id="password" required="required" placeholder="Password"
                                                aria-label="Enter your password">
                                     </label>
                                    </div>
                                <div align="center">
                                    <label class="input-group">

                                         <input type="password" class="from-control" id="confrompassword" required="required" placeholder="Conform Password"
                                                aria-label="conform password">
                                     </label>
                                    </div>

                                <div align="center">
                                    <label class="input-group">

                                         <input type="email" class="from-control" id="email" required="required" placeholder="Email"
                                                aria-label="Enter your email">
                                     </label>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-1  col-lg-15  ">
                                            <br>
                                             <button type="submit" id="submit" class="btn btn-primary btn-block">Submit</button>
                                                                                    </div>
                                </div>
                            </form>

                    </div>
                </div>
            </div>
             <div class="col-md-4"></div>

  </div>

{% endblock %}






