{% extends 'RITCSE_codeWars/base.html' %}
{% block title %}Your Submissions{% endblock %}
{% block YourSubmissions %}active{% endblock %}

{% block code %}
    <h4>You are at your submissions page of Codewars!</h4><br><br><br>

    <div class="container-fluid">
            <div class="col-md-12 table-responsive">
            <label class="col-md-4"></label>
            <label class="col-md-4">Your Submissions</label>
                <table class="table table-hover">
                        <tr>
                            <th>Submission id</th>
                            <th>User</th>
                            <th>Question code</th>
                            <th>Result</th>
                        </tr>
                    {% for row_item in submission_list %}
                       <tr>
                            <td>{{ row_item.submission_id }}</td>
                            <td>{{ row_item.user.username }}</td>
                            <td>{{ row_item.question_code }}</td>
                            <td>{{ row_item.result }}</td>
                        </tr>
                    {% endfor %}
                </table>
            <label class="col-md-4"></label>
            </div>


{% endblock %}