{% extends 'RITCSE_codeWars/base.html' %}
{% block title %}Your Submissions{% endblock %}
{% block YourSubmissions %}active{% endblock %}
{% block logout %}
    <li class="{% block Logout %}{% endblock %}">
                    <a href={% url "Logout" %}>
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
    </li>
{% endblock %}

{% block code %}
<div class="panel panel-warning">
    <div class="container-fluid">
            <div class="col-md-12 table-responsive">
            <label class="col-md-4"></label>
            <div class="col-md-4">
                <div class="panel-header"><h3>Your Submissions</h3></div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                        <tr>
                            <th>Submission id</th>
                            <th>User</th>
                            <th>Question code</th>
                            <th>Result</th>
                        </tr>
                    {% for row_item in submission_list %}
                       <tr>
                            <td>{{ row_item.submission_id }}</td>
                            <td>{{ row_item.user.username }}</td>
                            <td>{{ row_item.question_code }}</td>
                            <td>{{ row_item.result }}</td>
                        </tr>
                    {% endfor %}
                </table>
            <label class="col-md-4"></label>
            </div>
            </div>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <form action="{% url 'Questions' contest_list_id=1 %}">
            <input type="submit" value="Go to Question List" name="Go to Question List"/>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>

{% endblock %}